@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #ededed;
  --neon-cyan: #00f3ff;
  --neon-purple: #bc13fe;
  --neon-orange: #ff9e00;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-neon-cyan: var(--neon-cyan);
  --color-neon-purple: var(--neon-purple);
  --color-neon-orange: var(--neon-orange);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #050505;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
